.heading {
    font-size: 3rem;
}

small {
    margin-left: -8rem;
    font-size: .7rem;
}

a:hover {
    text-decoration: none;
}

img {
    width: 250px;
}

.username {
    width: 250px;
}

.user-column {
    width: 250px;
}

.stats {
    margin-left: -2rem;
}