.heading {
    font-size: 2.2rem;
}

small {
    font-size: .7rem;
}

a:hover {
    text-decoration: none;
}

img, .username {
    max-width: 100%;
    width: 250px;
}

.container {
    max-width: 500px;
}

#search {
    max-width: 150px;
    margin-right: 10px;
}

#search, #searchButton {
    height: 35px;
}

#wrapper {
    max-width: 900px;
    margin: auto;
}

@media (min-width: 576px) {
    
}

@media (min-width: 768px) {
    
}

@media (min-width: 992px) {
    
}

@media (min-width: 1200px) {
    
}