{% extends 'base.html' %}

{% block content %}

<div class="container border border-dark mt-5 p-5 pt-0 bg-light">
    <h2 class="pb-4 text-center">Add Image</h2>
    <form method="POST">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
        <span class="text-danger p-3">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-dark btn-lg btn-block mt-3">Add Image</button>
        <div class="d-flex justify-content-center mt-3">
            <a href="/user/{{user.id}}" class="d-flex align-items-center">
                <button type="button" class="btn btn-dark btn-lg">
                    Back
                </button>
            </a>
        </div>
    </form>
</div>

{% endblock %}