{% extends 'base.html' %}

{% block nav_left %}
<a href="/logout" class="col-3 justify-content-start">
    <span class="text-light">
        Logout
    </span>
</a>
{% endblock %}
{% block nav_right %}
<span class="text-light col-3">
    <form method="POST" action="/otherUser" class="form-inline justify-content-end">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search Users" aria-label="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
</span>
{% endblock %}

{% block user %}
{% if user %}
{{ user.username }}
{% endif %}
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="{{ category }} h1 py-4">{{ message }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="row">
    <div class="col-3 p-0 mt-4 text-center">
        <div class="text-center m-0 p-0">
            <a href="/user/{{ user.id }}/edit">
                <img src="{{ user.image_url }}" alt="default">
            </a>
        </div>
        <div class="bg-dark text-light username text-center m-auto">
            {{ user.username }}
        </div>
        <a href="/quiz">
            <button type="button" class="btn btn-dark m-3">
                New Quiz
            </button>
        </a>
    </div>

    <div id="otherStats" class="col mt-4 mr-4 p-0">
        <div class="border border-dark">
            <h2 class="text-center my-3">
                {{ otherUser.username }}'s Stats
            </h2>
            <div class="row m-0">
                {% if user_cat != None %}
                {% for category in user_cat %}
                <div class="card col-4">
                    <div class="card-body">
                        <h5 class="card-title text-center">{{ category.category.name }}</h5>
                        <hr>
                        <p class="card-text">Quizzes Taken: {{ category.quizzes_taken }}</p>
                        <p class="card-text">Questions Answered: {{ category.questions_answered }}</p>
                        <p class="card-text">Correct Answers: {{ category.correct_answers }}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-2"></div>
</div>

{% endblock %}